


.container{
display:grid;
grid-template-columns: repeat(5,1fr);
grid-auto-rows: minmax(50px,auto);
/*
80px 120px 120px auto 120px; */

}

@media only screen and (max-width: 480px){
  nav{
    grid-column: 1/-1;
     }
     section {
       grid-column: 1/3;
     }
     header {
       grid-column: 5/-1;
     }
     footer {
       grid-column: 1/-1;
     }
}
nav{
  grid-column: 1/-1;
  grid-row: 3/4;
}

a {
  grid-column: 2/5;
  grid-row: 3/4;
}

section{
  grid-column: 2/4;
  grid-row:2/3;
}

h2 {grid-column: 1/3;
  grid-row: 2/4;

}
p { grid-column: 1/3;
  grid-row: 3/4;

}

header{
  grid-column: 1/-1;
  grid-row: 1/2;
}

ul{
  grid-column: 1/-1;
  grid-row: 1/2;
}

h1{
  grid-column: 1/-1;
  grid-row: 1/2;
}

footer{
  grid-column: 1/-1;
  grid-row: 4/5;
}
