


.container{
display:grid;
grid-template-columns: repeat(5,1fr);
grid-auto-rows: minmax(50px,auto);
/*
80px 120px 120px auto 120px; */

}

.slideshow-container{
  grid-column: 1/-1;
  grid-row: 2/3;
}
.
@media only screen and (max-width: 480px){
  nav{
    grid-column: 1/-1;
     }
     section {
       grid-column: 1/3;
     }
     header {
       grid-column: 5/-1;
     }
     footer {
       grid-column: 1/-1;
     }
}
nav{
  grid-column: 1/-1;
  grid-row: 3/4;
}



section{
  grid-column: 2/4;
  grid-row:2/3;
}


header{
  grid-column: 1/-1;
  grid-row: 1/2;
}
footer{
  grid-column: 1/-1;
  grid-row: 4/5;
}


/* Startsida*/
.navlista{
  grid-column: 1/-1;
  grid-row: 1/2;
}

h1{
  grid-column: 1/-1;
  grid-row: 1/2;
}
a {
  grid-column: 2/5;
  grid-row: 3/4;
}



/* Recept 1*/
h2 {grid-column: 1/3;
  grid-row: 2/4;

}
p { grid-column: 1/3;
  grid-row: 4/5;

}
.ingredienser{
  grid-column: 1/3;
  grid-row: 3/4;

}
.muffinsbild
{
  grid-column:4/6;
  grid-row:4/5;
}
/* Recept 2*/
.tårtarubrik
{ grid-column: 1/3;
  grid-row: 5/7;
}

.ingredienser2{
  grid-column: 1/3;
  grid-row: 6/7;
}

.instruktioner2{
  grid-column: 1/3;
  grid-row: 7/9;
}

.tårtabild{
  grid-column:4/6;
  grid-row:7/8;
}

/* Recept 3*/
.kakarubrik
{ grid-column: 1/3;
  grid-row: 9/11;
}

.ingredienser3{
  grid-column: 1/3;
  grid-row: 10/11;
}

.instruktioner3{
  grid-column: 1/3;
  grid-row: 11/13;
}

.kakabild{
  grid-column:4/6;
  grid-row:11/12;
}
